<!--
- apr 15, 2024. Initial version.
-->

{% extends 'base.html' %}

{% block content %}
        <h1 class="p-5">Flight Schedule</h1>
        <div class="container">
        <form method="post">
            {% csrf_token %}
            <p>
            <button type="submit" name="save" class="btn btn-primary">Save only</button> or
            <button type="submit" name="submit" class="btn btn-warning">Save & fly</button>
            </p>
            <div class="row">
            {{ formset.management_form }}
            {% for form in formset %}
            <div class="col-lg-3 col-md-6 col-sm-12 mb-3">
            <div class="row">
            <div class="card-deck">
            <div class="card shadow">
            {% if form.empty_permitted %}
            <dev class="card-header bg-success text-white">NEW</dev>
            {% else %}
            <dev class="card-header">&emsp;</dev>
            {% endif %}
            <div cladd="card-body">
            {{ form.as_p }}
            <p>
    
            </p>
            </div>
            </div>
            </div>
            </div>
            </div>
            {% endfor %}
            </div>
        </form>            
        </div>
                
{% endblock %}