<!-- airline/overview.html -->
<link rel="stylesheet" type="text/css" href="https://cdn.datatables.net/1.10.24/css/jquery.dataTables.css">
<script type="text/javascript" src="https://code.jquery.com/jquery-3.5.1.js"></script>
<script type="text/javascript" src="https://cdn.datatables.net/1.10.24/js/jquery.dataTables.js"></script>

{% extends 'base.html' %}

{% block content %}
<div class="container">
    <h1 class="p-5">Airline Analytics for {{ airline_obj.name }}</h1>
    <div class="row">
        <table id="flightsTable" class="table">
            <thead>
                <tr>
                    <th>Flight Number</th>
                    <th>Origin</th>
                    <th>Destination</th>
                    <th>Distance</th>
                    <th>Profit</th>
                    <th>Load Factor</th>
                    <th>Delayed</th>
                </tr>
            </thead>
            <tbody>
                {% for flight in flights %}
                <tr>
                    <td>{{ flight.number }}</td>
                    <td>{{ flight.origin }}</td>
                    <td>{{ flight.destination }}</td>
                    <td>{{ flight.distance }}</td>
                    <td>{{ flight.profit }}</td>
                    <td>{{ flight.load_factor }}</td>
                    <td>{{ flight.delayed }}</td>
                </tr>
                {% endfor %}
            </tbody>
        </table>
    </div>
</div>


    <div class="container">
    <h1 class="pt-5">Airline</h1>
        <h5 class="lead">Customize your airline and view its analytics.</h5>
    <div class="row pt-3">
    <form method="post"> {% csrf_token %}
        <div class="col-lg-6 col-md-6 col-sm-12 mb-3">
        <div class="card-deck">
        <div class="card shadow">
        <h4 class="card-header bg-info text-white">{{ airline.name }}</h4>
        <div class="card-body">
        <p class="lead">{{ performance_data}}</p>
        <hr/> 
        <p>{{ airline.as_p }}</p>
        </div>
        </div>
    </form>
    </div>
 </div>

<script>
    $(document).ready( function () {
        $('#flightsTable').DataTable();
    } );
</script>
{% endblock %}