        <!-- airline/overview.html -->
        <link rel="stylesheet" type="text/css" href="https://cdn.datatables.net/1.10.24/css/jquery.dataTables.css">
        <script type="text/javascript" src="https://code.jquery.com/jquery-3.5.1.js"></script>
        <script type="text/javascript" src="https://cdn.datatables.net/1.10.24/js/jquery.dataTables.js"></script>
        <!-- Adding chart.js  -->
        <script src="https://cdn.jsdelivr.net/npm/chart.js"></script>


        {% extends 'base.html' %}

        {% block content %}
        

      <div class="container">
          <h1 class="p-5">Airline Analytics for {{ airline.name }}</h1>
          <div class="row">
              <table class="table">
                  <thead>
                      <tr>
                          <th>Metric</th>
                          <th>Value</th>
                      </tr>
                  </thead>
                  <tbody>
                      <tr>
                          <td>Flights Completed</td>
                          <td>{{ performance_data.number_flights_completed }}</td>
                      </tr>
                      <tr>
                          <td>Average Distance (miles)</td>
                          <td>{{ performance_data.average_distance|floatformat:2 }}</td>
                      </tr>
                      <tr>
                          <td>Total Revenue ($)</td>
                          <td>{{ performance_data.total_revenue|floatformat:2 }}</td>
                      </tr>
                      <tr>
                          <td>Total Cost ($)</td>
                          <td>{{ performance_data.total_cost|floatformat:2 }}</td>
                      </tr>
                      <tr>
                          <td>Profitability ($)</td>
                          <td>{{ performance_data.profitability|floatformat:2 }}</td>
                      </tr>
                      <tr>
                          <td>Average Load Factor (%)</td>
                          <td>{{ performance_data.average_load_factor }}</td>
                      </tr>
                      <tr>
                          <td>Cancelled Flights</td>
                          <td>{{ performance_data.cancelled_flights }}</td>
                      </tr>
                      <tr>
                          <td>Delayed Flights</td>
                          <td>{{ performance_data.delayed_flights }}</td>
                      </tr>
                      <tr>
                          <td>Delay Rate (%)</td>
                          <td>{{ performance_data.delay_rate|floatformat:2 }}</td>
                      </tr>
                      <tr>
                          <td>Average Flight Rating (out of 1)</td>
                          <td>{{ performance_data.average_flight_rating.rating__avg|floatformat:3 }}</td>
                      </tr>
                  </tbody>
              </table>
          </div>
      </div>
<div class="container">
    <h1 class="p-5">Per Flight Analysis </h1>
    <div class="row">
        <table id="flightsTable" class="table">
            <thead>
                <tr>
                    <th>Flight Number</th>
                    <th>Origin</th>
                    <th>Destination</th>
                    <th>Distance</th>
                    <th>Profit</th>
                    <th>Load Factor</th>
                    <th>Delayed</th>
                </tr>
            </thead>
            <tbody>
                {% for flight in flights %}
                <tr>
                    <td>{{ flight.number }}</td>
                    <td>{{ flight.origin }}</td>
                    <td>{{ flight.destination }}</td>
                    <td>{{ flight.distance }}</td>
                    <td>{{ flight.profit }}</td>
                    <td>{{ flight.load_factor }}</td>
                    <td>{{ flight.delayed }}</td>
                </tr>
                {% endfor %}
            </tbody>
        </table>
    </div>
</div>

        <!-- Define the canvas element for the graph -->
       <div>
         <canvas id="loadFactorTrend" width="400" height="200"></canvas>
       </div> 

        <script>
            $(document).ready( function () {
                $('#flightsTable').DataTable();
            } );

          document.addEventListener('DOMContentLoaded', function() {
              var ctx = document.getElementById('loadFactorTrend').getContext('2d');
              var loadFactorData = {{ performance_data.load_factor_data|safe }}; // Passed from Django view

              var labels = loadFactorData.map(function(entry) {
                  return entry.day;
              });

              var data = loadFactorData.map(function(entry) {
                  return entry.average_load_factor;
              });

              new Chart(ctx, {
                  type: 'line',
                  data: {
                      labels: labels,
                      datasets: [{
                          label: 'Average Load Factor',
                          data: data,
                          fill: false,
                          borderColor: 'rgb(75, 192, 192)',
                          tension: 0.1
                      }]
                  },
                  options: {
                      scales: {
                          y: {
                              beginAtZero: true
                          }
                      }
                  }
              });
          });
        </script>
        {% endblock %}