<!-- fleet/detail.html -->

{% extends 'base.html' %}

{% block content %}
    <div class="container">
        <h1 class="pt-5">Aircraft Detail</h1>
        <h5 class="lead pb-3">View details of an aircraft in your fleet.</h5>
        <div class="col-lg-6 col-md-6 col-sm-12 mb-3">
        <div class="card-deck">
        <div class="card shadow">
        <h4 class="card-header bg-primary text-white">{{ aircraft.registration }}</h4>
        <div class="card-text p-3">
        <p>
        Model: {{ aircraft.aircraft }}
        <br>
        Operating hours: {{ aircraft.operating_hours }}
        <br>
        Cycles: {{ aircraft.cycles }}
        <br>
        Location: {{ aircraft.location }}
        <br>
        Manufacture date: {{ aircraft.manufacture_date }}
        <hr>
        <h3 class="lead">Maintenance</h3>
        Next A-Check in: {{ aircraft.next_a_check }} days
        <br>
        Next B-Check in: {{ aircraft.next_b_check }} days
        <br>
        Next C-Check in: {{ aircraft.next_a_check }} days
        <br>
        Next D-Check in: {{ aircraft.next_d_check }} days
        </p>
        <p><a href="""{% url 'fleet' %}" class="btn btn-primary">Back</a></p>
        </div>
        </div>
        </div>
        </div>
    </div>
{% endblock %}

            