<!-- fleet/overview.html-->

{% extends 'base.html' %}

{% block content %}
    <div class="container">
    <h1 class="pt-5">Fleet</h1>
        <h5 class="lead">Manage aircraft in your fleet.</h5>
    <form id="form" method="post">  {% csrf_token %}
            <div class="col-lg-3 col-md-3 col-sm-1 m-3">
            <div class="form-check form-switch">
            <input class="lead form-check-input" 
                type="checkbox"
                name="only_active_switch"
                id="only_active_switch"
                {% if only_active_switch %}checked{% endif %}>
            <label class="form-check-label" for="only_active_switch">Include inactive aircraft</label>
            </div>
         </div>
        {% if formset != None %}
            <p><button type="submit" name="save" class="btn btn-primary">Save</button>
        {% endif %}
        <button type="submit" name="add" class="btn btn-danger">Add Aircraft</button></p>
        <div class="row pt-3">
        {{ formset.management_form }}
        {% for form in formset %}
            <div class="col-lg-4 col-md-6 col-sm-12 mb-3">
            <div class="card-deck">
            <div class="card shadow">
            {% if form.empty_permitted %}
            <h4 class="card-header bg-success text-white">NEW</h4>
            {% else %}
            <h4 class="card-header bg-primary text-white">{{ form.registration.value }}</h4>
            {% endif %}
            <div class="card-text p-3">
            {{ form.as_p }}
            <p><button type="submit"
                class="btn btn-primary"
                name="detail"
                value="{{ form.id.value }}">
                Detail
                </button></p>
            </div>
            </div>
            </div>
            </div>
        {% endfor %}
        </div>
    </form>

        <script>
            document.getElementById('only_active_switch').addEventListener('change', function() {
                document.getElementById('form').submit();
            });
        </script>
    </div>
{% endblock %}