<!--
- apr 15, 2024. Initial version.
-->

{% extends 'base.html' %}

{% block content %}
    <div class="container mt-4">
    <h1 class="pt-5">Fleet</h1>
        <h5 class="lead">Manage the aircraft in your fleet.</h5>
    <form method="post" action="{% url 'fleet' %}">  {% csrf_token %}
        <div class="row pt-5">
        {% for aircraft in fleet %}
            <div class="col-lg-3 col-md-6 col-sm-12 mb-3">
            <div class="card-deck">
            <div class="card shadow">
            <h4 class="card-header bg-primary text-white">{{ aircraft.registration }}</h4>
            <p class="card-body">
            Model: {{ aircraft.aircraft.model }}
            <br>
            Location: {{ aircraft.location.location }}
            <br>
            <input type="hidden" name="aircraft_id" value={{ aircraft.id }}>
            <button type="submit" disabled class="btn btn-primary">Manage</button>
            </p>
            </div>
            </div>
            </div>
        {% endfor %}
            </div>
    </form>
    </div>
{% endblock %}