<!--
## [1.0.0] - 2024-02-24
### Added
- Bootstrap center alignment and buttons
- Initial version.
-->

{% extends 'base.html' %}

{% block content %}
{% load static %}
<h1 class="p-5">The Team</h1>

<!-- Page Content -->
<div class="container">
  <div class="row">
    <!-- Huud -->
    <!-- <div class="col-xl-3 col-md-6 mb-4">
      <div class="card border-0 shadow">
        <img src="https://media.licdn.com/dms/image/C4E03AQFKFGWUpHieWg/profile-displayphoto-shrink_400_400/0/1606189789183?e=1714608000&v=beta&t=iw_iyZsg0LB6-m93vNq43h5z4hWO0f28OW0_DjxJ64Q" class="card-img-top" alt="...">
        <div class="card-body text-center">
          <h5 class="card-title mb-0">
          <a href="https://www.linkedin.com/in/huudahmad/">
            <img src="{% static 'linkedin.svg' %}" alt="..."></a>
          Huud Ahmad</h5>
          <div class="card-text text-black-50">
            Full Stack Developer 
          </div>
        </div>
      </div>
    </div> -->
    <!-- Juan -->
    <div class="col-xl-3 col-md-6 mb-4">
      <div class="card border-0 shadow">
        <img src="https://media.licdn.com/dms/image/C4E03AQEeQ1VnHQjiEA/profile-displayphoto-shrink_800_800/0/1611768714817?e=1714608000&v=beta&t=nZqxxjgKsMSJKJvvs8gEvPmLMoo-IFGi1YrjYgy6Kq8" class="card-img-top" alt="...">
        <div class="card-body text-center">
          <h5 class="card-title mb-0">
            <a href="https://www.linkedin.com/in/juan-arrechea/">
            Juan Arrechea</h5></a>
          <div class="card-text text-black-50">
            Project Manager
            <br>
            &nbsp
          </div>
        </div>
      </div>
    </div>
    <!-- Albert -->
    <div class="col-xl-3 col-md-6 mb-4">
      <div class="card border-0 shadow">
        <img src="https://media.licdn.com/dms/image/C5603AQGTypJHUj6XLg/profile-displayphoto-shrink_400_400/0/1662943320525?e=1714608000&v=beta&t=LdYaYppLzh89YS8ZU0M4Yp5oET-e6OXyau8-bVL7bu4" class="card-img-top" alt="...">
        <div class="card-body text-center">
          <h5 class="card-title mb-0">
            <a href="https://www.linkedin.com/in/alb147140/">
          Albert Baker</h5></a>
          <div class="card-text text-black-50">
            Backend Developer
            <br>
            &nbsp
        </div>
      </div>
    </div>
  </div>
    <!-- Gavin -->
    <div class="col-xl-3 col-md-6 mb-4">
      <div class="card border-0 shadow">
        <img src="https://media.licdn.com/dms/image/D5603AQEfxQ__LEYDXg/profile-displayphoto-shrink_400_400/0/1708921781438?e=1714608000&v=beta&t=3LgYAPZKouet-77xy_22TEdwybUtYnvaC2SKx7dBrfI" class="card-img-top" alt="...">
        <div class="card-body text-center">
          <h5 class="card-title mb-0">
          <a href="https://www.linkedin.com/in/gavin-dunnett">
          Gavin Dunnett</h5></a>
          <div class="card-text text-black-50">
            Django Web Developer<br>
            Full Stack Developer 
          </div>
        </div>
      </div>
    </div>
  
    <!-- Javier -->
    <div class="col-xl-3 col-md-6 mb-4">
      <div class="card border-0 shadow">
        <img src="https://media.licdn.com/dms/image/D5603AQGV07ZRTNDuRg/profile-displayphoto-shrink_400_400/0/1690921892667?e=1714608000&v=beta&t=6gdbCAXpoLtiQG7Qw3PLw6wfsTQJKBBERrFcywtJ46w" class="card-img-top" alt="...">
          <div class="card-body text-center">
            <h5 class="card-title mb-0">
              <a href="https://www.linkedin.com/in/javier-figueroa-35a408263/">
                Javier Figueroa</h5></a>
            <div class="card-text text-black-50">
            Frontend Developer
            <br>
            &nbsp
            </div>
          </div>
        </div>
      </div>
  <!-- Sai -->
  <div class="col-xl-3 col-md-6 mb-4">
    <div class="card border-0 shadow">
      <img src="https://media.licdn.com/dms/image/C4E03AQFBSmOfpyA46g/profile-displayphoto-shrink_400_400/0/1634759293349?e=1714608000&v=beta&t=-QhBWteMAhHjc1efPcNwk9FR-bqkqmkPlLcwJXfm38E" class="card-img-top" alt="...">
      <div class="card-body text-center">
        <h5 class="card-title mb-0">
          <a href="https://www.linkedin.com/in/saipranithkasam/">
        Sai Kasam</h5></a>
        <div class="card-text text-black-50">
          UI/UX Designer<br>
          Economic Model Researcher
        </div>
      </div>
    </div>
  </div>
  <!-- /.row -->

</div>
<!-- /.container -->
{% endblock %}