<!--
- Apr 5, 2024. Added resend verification email link.
- Login link added.
- user.is_active clause to resend activation email added.
- Bootstrap center alignment and buttons
- Initial version.
-->

{% extends 'base.html' %}

{% block content %}
    <h1 class="p-5">Dashboard</h1>
    <p class="lead">Start by <a href="{% url 'airline' %}">customizing your airline.</a></p>
    <p class=lead><a href="{% url 'password_reset' %}">Password reset</a>
    If you forgot or lost your password, you can reset it.</p>
    <p class=lead><a href="{% url 'password_change' %}">Change password</a>
    You can change your password for security reasons.</p>
    {% if user.is_active is False %}
        <p class=lead><a href="{% url 'request-new-link-from-email' %}">Resend verification email</a></p>
    {% endif %}
    
{% endblock %}