<!--
## [1.0.0] - 2024-03-29
- Email verification text added.
- Bootstrap center alignment and buttons added.
- Initial version.
-->

{% extends 'base.html' %}

{% block content %}
    <h1 class="p-5">Registration Successful</h1>
    <p class="lead">
        Email verification sent to <p class="text-success">{{ email|default:"someone@domain.com" }}
        You must use the link to activate your account.
    </p>
    <p class="lead">
        Start by 
        <a href="{% url 'airline' %}">customizing your airline</a>
    </p>
{% endblock %}